.homeHeder {
  background-color: rgba(21, 32, 43, 0.85);
  position: sticky;
  // border-bottom: 1px solid gainsboro;
}
.hed {
  // height: 50px;
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
}
